Boxview-datafactory-dev/PartialArmTemplates/ArmTemplate_6_23_2021_9_28_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Boxview-datafactory-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DMRL Master Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DMRL Containers",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DMRL Container dataverse Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ForceFullDatasetRefresh": {
									"value": "@pipeline().parameters.ForceDatasetRefresh",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "DMRL SQL Workorders",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "DMRL Containers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DMRL Workorder SQL Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ForceFullDatasetRefresh": {
									"value": "@pipeline().parameters.ForceDatasetRefresh",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"ForceDatasetRefresh": {
						"type": "bool",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "DMRL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		}
	]
}